html {
	background-color: #000;
	height:100%;
}

body {
	background-color: black;
	display:block;
	height: 100%;
	/*background-image: url(../lost.gif);*/
	background-repeat: no-repeat;
	background-position: center center;
}

#main-header {
	text-align:center;
	height:500px;
	display: flex;
	justify-content: center;
	align-items: center;

}

h1,h2,h3 {
	color: transparent;
	-webkit-text-stroke: 1px #ededed;
	font-family: 'Avenir LT Std 95 Black Oblique', helvetica;
	/*font-family: 'Avenir LT Std 95 Black', helvetica;*/

}

h1 {
	font-size: 6em;
	letter-spacing: -5px;
}
